# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# IDEs & Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
